

/* General styling */

.grid-flow{
    display: grid;
    gap: 1.5rem;
}

.grid-flow[DataItem='small']{
    gap:1rem;
}
.grid-flow[DataItem='x-small']{
    gap:.3rem;
}

.flex-group{
    display: flex;
    gap: 1rem;
}
.flex-group[DataItem="label-error"]{
    font-size: .725rem;
    font-weight: var(--fw-bold);
    justify-content: space-between;
}
.flex-group[DataItem="label-error"] p{
    color: hsl(0, 100%, 70%);
    
}
@media (min-width:600px){
    .grid-flow{
        gap: .5rem;
    }
    .grid-flow[DataItem='small']{
        gap:.5rem;
    }
}

input[type="email"]{
    padding: .5rem 1rem;
    border :1px solid var(--clr-neutral-700);
    border-radius: .4rem;
}
input[type="email"]:focus {
    border-color:var(--clr-secondary-500);
     background-color: var(--clr-neutral-100);
    outline: none;
  }
  input[type="email"]:invalid{
    border: 1px solid hsl(0, 100%, 80%);
    background-color: hsl(0, 100%, 93%);
    color: hsl(0, 100%, 70%);
  }

  .btn{
    text-align: center;
    padding: 1rem 1rem;
    color: var(--clr-neutral-100);
    background-color: var(--clr-secondary-500);
    border: 1px solid transparent;
    border-radius: .4rem;
    line-height: 1;
  }
  .btn:hover{
    background:var(--clr-primary-gradient);
    box-shadow: .4rem .4rem 1rem hsl(var(--clr-primary-hsl-400),.7)
  }


/* Utilities */
.news-letter{
    display: grid;
    gap: 2rem;
    --margin-inline:1.5rem;
    background-color: var(--clr-neutral-100);
    padding-bottom: .5rem;
}

@media (min-width:600px){
    .news-letter{
        grid-template-columns: repeat(2,1fr);
        max-width: 45rem;
        border-radius: 1rem;
        gap:.5rem;
    }
   
    .news-letter .news-letter-content{
        padding:1rem;
        grid-column: 1 / 2;
        
    }
    .pic{
        grid-row: 1;
        grid-column: 2 / 3;
        padding:1rem;
    }
    .title,.update-items,.email-input-section{
        margin-inline:0;
    }
}

.svg-container{
    width:600px;
    height: auto;
}


.title,.update-items,.email-input-section{
    margin-inline:var(--margin-inline);
}


.update-items .item svg{
    flex-shrink: 0;
}


.email-input-section .label-input{
    display: grid;
    gap:.5rem;
}

.email-input-section .label-input #email-label{
    font-size: .725rem;
    font-weight: var(--fw-bold);
    
}





